.author
{
    color: #fff;
}

.author .author-avatar
{
    width: 20%;
}

.card
{
    cursor: zoom-in;
}

.card:not(:hover) .card-img-overlay
{
    visibility: hidden;

    opacity: 0;
}

.card-img-overlay
{
    background: #000;
    background: linear-gradient(180deg,
    rgba(0, 0, 0, .2) 0%,
    transparent 40%,
    transparent 60%,
    rgba(0, 0, 0, .3) 100%);
}

#modal
{
    position: fixed;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 30px;

    background: rgba(0, 0, 0, .8);
}

.img-wrap
{
    height: 80%;
}

.img-wrap .image
{
    max-width: 100%;
    max-height: 100%;
}

.close
{
    font-size: 2rem;

    color: #fff;
}

.close:focus,
.close:hover
{
    color: #fff;
}

.stop-scroll{
    height: 100%;
    overflow: hidden;
}

@media (min-width:576px)
{
    .card-columns
    {
        column-count: 2;
    }
}

@media (min-width:768px)
{
    .card-columns
    {
        column-count: 3;
    }
}
